body {
    margin: 40px;
}

.container {
    border: 1px solid black;
    background-color: whitesmoke;
    width: fit-content;
}

.upper-table, .lower-table, .series, .num {
    display: flex;
}

.lower-table {
    margin: 5rem 0 5rem 42rem;
    width: fit-content;
}

.series {
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
}

.num {
    font-size: 3rem;
    justify-content: center;
    align-items: center;
}

.period {
    flex-direction: column-reverse;
    margin: 0 0 5px 0;
    height: 12rem;
    width: 5rem;
}

.group {
    flex-direction: row;
}

.element {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    position: relative;
    width: 12rem;
    height: 12rem;
    margin: 1px;
    border: 2px solid black;
    font-size: 12px;
    transition: transform .2s;
    background-color: white;
}

.element > * {
    font-weight: bold;
}

.element:hover {
    transform: scale(1.5);
    z-index: 1;
}

.ordinal-num {
    grid-column: 1 / 2;
    font-size: 2em;
    margin: 10px 0 0 10px;
}

.weight {
    grid-column: 3 / 4;
    font-size: 2em;
    margin: 10px 10px 0 0;
}

.symbol {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    grid-column: 1 / span 3;
    grid-row: 2 / 3;
    font-size: 5em;
}

.name {
    text-align: center;
    grid-column: 1 / span 3;
    grid-row: 3 / 4;
    font-size: 2em;
}

.electronegativity {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    font-size: 2em;
    margin: 0 0 10px 10px;
}

.density {
    text-align: right;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    font-size: 2em;
    margin: 0 10px 10px 0;
}

label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gas {
    color: red;
}

.liquid {
    color: blue;
}

.alkali-metal {
    background-color: rgb(219, 79, 79);
}

.alkaline-earth-metal {
    background-color: rgb(218, 127, 221);
}

.transition-metal {
    background-color: rgb(39, 240, 240);
}

.metal {
    background-color: rgb(143, 140, 140);
}

.semi-metal {
    background-color: rgb(235, 209, 176);
}

.nonmetal {
    background-color: rgb(127, 255, 155);
}

.halogene {
    background-color: #fbe204;
}

.noble-gas {
    background-color: rgb(151, 45, 250);
}

.radioactive {
    background-image: url("../img/radiation_64x64.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 32px 32px;
}